* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */

body {
	font-family: Arial, sans-serif;
}

/* Header */

header {
	background-color: rgba(17, 17, 17, 0.804);
	color: rgba(18, 15, 15, 0.825);
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	box-shadow: 0 2px 2px rgba(216, 9, 9, 0.2);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px auto;
	padding: 0 20px;
}

.logo {
	font-size: 1.5rem;
	font-weight: bold;
	color: #e7f804;
}

.nav-links {
	list-style: none;
	display: flex;
    
}

.nav-links li {
	margin-right: 20px;
}

.nav-links a {
	color: rgb(252, 3, 3);
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
}

.nav-links a:hover {
	background-color: #090909;
	border-radius: 4px;
	color: rgb(147, 3, 3);
}

/* About Section */

.about {
	background-image: url(omr.jpeg);
	background-size: cover;
	background-repeat: no-repeat, repeat;
	background-image: url("/about/omr.jpeg");
	background-blend-mode: lighten;
	
	/* background: linear-gradient(90deg, rgba(0,0,0,1) 24%, rgba(117,117,175,1) 45%, rgba(210,211,193,1) 92%); */
	padding: 100px 0 20px 0;
	text-align: center;
}
.about {
    background-image: url(omr.jpeg), url(omr.jpeg);
    background-color: rgb(46, 195, 5);
    background-blend-mode: hard-light;
}


.about h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.about p {
	font-size: 1rem;
	color: rgb(18, 17, 17);
	max-width: 800px;
	margin: 0 auto;
}
.about h3{

	color: #050505;
}

.about-info {
	margin: 2rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.about-img {

	width: 150rem;
	height: 50rem;
	
	position: relative;
	right :300px;
	
	bottom: 200px;

}

.about-img img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: contain;
}

.about-info p {
	font-size: 1.3rem;
	margin: 0 2rem;
	text-align: justify;
}

button {
	border: none;
	outline: 0;
	padding: 10px;
	margin: 2rem;
	font-size: 1rem;
	color: white;
	background-color: #4edd41;
	text-align: center;
	cursor: pointer;
	width: 15rem;
	border-radius: 4px;
}

button:hover {
	background-color: #1f9405;
}

/* Team Section */



/* Footer */
footer {
	background-color: #222;
	color: rgb(184, 37, 37);
	text-align: center;
	padding: 20px 0;
}

@media (max-width: 768px) {
	nav {
		display: block;
	}

	.logo {
		text-align: center;
	}

	.nav-links {
		margin-top: 1rem;
		justify-content: space-between;
	}

	.nav-links li {
		margin-right: 0;
	}

	.about h1 {
		font-size: 2rem;
	}

	.about p {
		font-size: 0.9rem;
	}

	.about-info {
		flex-direction: column;
		text-align: center;
	}

	.about-img {
		width: 60%;
		height: 60%;
		margin-bottom: 1rem;
	}

	.about-info p {
		margin: 1rem 2rem;
	}

	.about-info button {
		margin: 1rem 2rem;
		width: 10rem;
	}

	.team {
		margin: 0 1rem;
	}
}
